### Custom entries.

/coverage

### Default config entries.

# Compiled output.
/dist
/tmp
/out-tsc

# Dependencies.
/node_modules

# Profiling files.
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors.
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc.
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files.
.DS_Store
Thumbs.db
